RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

Options -Indexes

<LimitExcept GET POST>
    Require all denied
</LimitExcept>

<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\.(?!well-known).*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  	<IfModule mod_authz_core.c>
   		Require all denied
  	</IfModule>
  	<IfModule !mod_authz_core.c>
   		Order allow,deny
	</IfModule>
</FilesMatch>

Header add x-skip-access-control-check "true"
Options +FollowSymlinks

# RewriteCond %{HTTPS} off
# RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteCond %{HTTP_HOST} ^www [NC]
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A1209600
	<FilesMatch \.php$>
		ExpiresActive Off
	</FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
	<FilesMatch "\.(xml|html|txt|css|js|php|json|ico|eot|otf|ttf|md)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
  	Header always set X-Content-Type-Options nosniff
  	Header set X-Frame-Options SAMEORIGIN
	Header set X-XSS-Protection "1; mode=block"
</IfModule>