@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
	font-family: Raleway, sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, #C7C5F4, #504b7a);
}

:root {
	--primary-font-color: #2e2b2b;
}

.btn-primary {
	background-color: var(--primary-font-color) !important;
}

.primary-color {
	color: var(--primary-font-color) !important;
}

tbody > tr:first-child > td {
	border-top: 3px solid var(--primary-font-color);
}

.file-upload-container {
	display: flex;
}

.file-upload-container .file-upload-text {
	flex: 1;
}

.file-upload-container .file-upload-fields {
	flex: 2;
}

.cursor-pointer {
	cursor: pointer;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	position: relative;
	padding-left: 44px;
	margin-bottom: 0;
	min-height: 34px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

input[type="radio"]:checked + label::before {
	border-color: #901728;
}

input[type="radio"] + label::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 34px;
	background-color: #fff;
	border: 2px solid #ccc;
	border-top-color: rgb(204, 204, 204);
	border-right-color: rgb(204, 204, 204);
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
	border-radius: 100vw;
	-webkit-transition: .2s border-color ease-in-out;
	transition: .2s border-color ease-in-out;
}

input[type="radio"]:checked + label::after {
	opacity: 1;
}

input[type="radio"] + label::after {
	content: " ";
	position: absolute;
	top: 7px;
	left: 7px;
	width: 20px;
	height: 20px;
	background-color: #901728;
	border-radius: 100vw;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
}

.back-btn {
	position: fixed;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

.trip-header {
	background-color: white;
}

.modal-content {
	height: 95vh;
}

img {
	margin: 1px;
	border-radius: 4px;
}

.btn {
	border: none !important;
	border: 0px black !important;
}

.alert {
	padding: .375rem .75rem !important;
	margin-bottom: 0 !important;
}

.logo {
	background-color: var(--primary-font-color);
	color: white !important;
}

.align-center {
	display: flex !important;
	justify-content: center !important;
	align-items: start !important;
	flex-direction: column !important;
}

.logo {
	height: 80px;
}

.logo div {
	font-weight: 300 !important;
}

.text-font-12 {
	font-size: 12px !important;
}

.flex-1 {
	flex: 1 !important;
}

.modal img {
	width: 100%;
}

.opacity-lower {
	opacity: .4;
}

.opacity-high {
	opacity: 1;
}

.text-grey {
	color: rgb(105, 101, 101) !important;
}

@media screen and (max-width: 768px) {
	.trip-trippgers:not(.damage-area) {
		flex-direction: column;
	}
	.trip-trippgers div:not(.damage-area) {
		width: 60%;
		margin: 10px auto;
		justify-content: flex-start !important;
	}
	
}

.time {
	font-size: 10px;
}

.flex1 {flex: 1;}.flex2 {flex: 2;}.flex3 {flex: 3;}.flex4 {flex: 4;}.flex5 {flex: 5;}.flex6 {flex: 6;}

.body-height {
	height: calc(100% - 80px);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.screen {
	background: linear-gradient(90deg, #5D54A4, #7C78B8);
	position: relative;
	height: 600px;
	width: 360px;
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active, .login__input:focus, .login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active, .login__submit:focus, .login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);
}

.fade-in {
	position: relative;
	animation: fadein 0.3s ease-in forwards;
}

.fill-node {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

@keyframes fadein {
	0% {
		left: -50px;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}